@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/global";

.herostats {
  display: flex;
  flex-direction: column;
  font-family: "avenir-regular";
  padding: 24px 16px 16px;
  &__title {
    font-size: 24px;
    line-height: 32px;
    font-family: avenir-bold;
    border-bottom: 1px solid $color-mercury;
    padding-bottom: 16px;
  }
  &__container {
    display: flex;
    border-bottom: 1px solid $color-mercury;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 100px;

    &-views {
      display: flex;
      gap: 16px;
    }
    &-likes {
      display: flex;
      gap: 16px;
    }
  }
  &__channel {
    font-size: 13px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-name {
      font-family: avenir-bold;
    }
    &-date {
      color: $color-silver;
    }
  }
  &__section {
    font-size: 13px;
    line-height: 18px;
    color: $color-silver;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@include tablet {
  .herostats {
    padding: 36px 24px 24px;
    &__title {
      font-size: 33px;
      line-height: 44px;
      font-family: avenir-bold;
      border-bottom: none;
      padding-bottom: 24px;
    }
    &__container {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-mercury;
      padding: 0;
      padding-bottom: 10px;
      gap: 0;
    }
    &__channel{
      display: flex;
      flex-direction: row;
      gap: 36px;
      &-name {
        font-size: 14px;
        line-height: 20px;
      }

    }
    &__section {
      display: flex;
      flex-direction: row;
      gap: 36px;

    }
  }
  
}