@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/global";

.video-list {
  // Styles for the container
  font-family: "avenir-regular";
  margin-right: 16px;
  margin-left: 16px;
  &__wrapper {
    display: flex;
  }
  &__header {
    font-size: 13px;
    height: 18px;
    font-family: avenir-demi;
    padding: 24px 16px 24px 0px;
    margin-bottom: 16px;
  }
  &__item {
    // Styles for each video item
    display: flex;
    margin-bottom: 16px;
  }

  &__image {
    // Styles for the image
    width: 120px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 16px;
  }

  &__details {
    // Styles for the text content
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    // Styles for the video title
    font-size: 13px;
    height: 18px;
    font-family: avenir-bold;
    // margin-bottom: 8px;
  }

  &__channel {
    // Styles for the channel name
    font-size: 13px;
    height: 18px;
    font-family: avenir-regular;
  }
}
