* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: $color-silver;
  }

  h3 {
    //to add the 3 comments part above the join the conversation
  }
  