* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 13px;
  line-height: 18px;
  font-family: avenir-bold;
  color: $color-silver;
}


// @include desktop {
//   .all-components__main {
//     display: flex;
//   }
//   .all-components__two {
//     border-left: 1px solid color-mercury;
//   }
// }
