/*mobile*/
@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

/*tablet*/
@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

/*desktop*/
@mixin desktop {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
