@font-face {
    font-family: 'avenir-regular';
    src: url("/src/assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: 'avenir-demi';
    src: url("/src/assets/fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
    font-family: 'avenir-bold';
    src: url("/src/assets/fonts/AvenirNextLTPro-Bold.otf");
}

