$color-brainflix-black: #323232;
$color-brainflix-blue: #0095ff;
$color-silver: #afafaf;
$color-white: #ffffff;
$color-brainflix-darkblack: #000000;
$color-brainflix-darkblue: #0065ad;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;

// Padding before headlines

$mobile-padding: 4rem 1rem 2rem 1rem;
$tablet-padding: 6rem 9rem 6rem 1.5rem;
$desktop-padding: 10rem 11.25rem 0 11.25rem;
