$color-brainflix-black: #323232;
$color-brainflix-blue: #0095ff;
$color-silver: #afafaf;
$color-white: #ffffff;
$color-brainflix-darkblack: #000000;
$color-brainflix-darkblue: #0065ad;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;

// Padding before headlines

$mobile-padding: 1rem 1rem 1rem 1rem;
$tablet-padding: 1.5rem 1.5rem 1.5rem 1.5rem;
$desktop-padding: 0 10rem 0rem 10rem;

// Padding after headlines

$mobile-padding-after: 1rem 1rem 1rem 1rem;
