@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/global";

.herodescription {
  display: flex;
  flex-direction: column;
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;

  &__subdescription {
    padding: 0 1rem 1.5rem;
  }

  &__length {
    font-size: 0.8125rem;
    font-family: avenir-bold;
    line-height: 1.125rem;
    padding: 0 1rem 1.5rem;
  }
}

@include tablet {
  .herodescription {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenir-regular;

    &__subdescription {
      padding: 0 1.5rem 2.25rem;
    }

    &__length {
      font-size: 0.875rem;
      padding: 0 1.5rem 2.25rem;
    }
  }
}

@include desktop {
  .herodescription {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenir-regular;

    &__subdescription {
      padding: 0 1.5rem 2.25rem 10rem;
    }

    &__length {
      padding: 0 1.5rem 2.25rem 10rem;
    }
  }
}
