@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/global";

.comments {
  width: 100%;
  min-height: 36px;

  &__form-container {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    box-sizing: border-box;
    width: 100%;
  }

  &__heading {
    display: flex;
    font-family: "avenir-demi";
    font-size: 13px;
    color: $color-silver;
    padding-left: 56px;
    padding-bottom: 12px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-mercury;
    font-family: "avenir-regular";
    width: 100%;
  }

  &__form-content {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    // padding-bottom: 2rem;
    width: 100%;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    object-fit: cover;
  }

  &__input-group {
    flex-grow: 1;
  }

  &__input,
  &__textarea {
    width: 100%;
    background-color: $color-alabaster;
    border-radius: 0.25rem;
    border: 1px solid $color-mercury;
    // padding: 0.625rem;
    font-family: "avenir-regular";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin-bottom: 16px;
    resize: none;
    padding: 12px;
    transition: border-color 0.3s ease;

    &:focus {
      border: 2px solid $color-brainflix-blue;
      outline: none; // Remove default focus outline
    }

    &.error {
      border: 1px solid #d22d2d;
    }
  }

  &__textarea {
    height: 100px;
    resize: vertical;
  }

  &__submit {
    background-image: url("../../assets/icons/add_comment.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-bottom: 16px;
    width: 100%;
    background-color: $color-brainflix-blue;
    color: $color-white;
    font-family: "avenir-demi";
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 13px;
    width: 100%;
    //Below is the min-width for tablet and desktop, TO ADD!!! Also no less than 32px of padding.
    // min-width: 150px;
    &:focus {
      outline-width: 0;
    }
    &:hover {
      background-color: $color-brainflix-darkblue;
    }
  }
}

@include tablet {
  .comments {
    width: 100%;
    min-height: 36px;
    &__heading {
      font-size: 14px;
      line-height: 22px;
    }
    &__input,
    &__textarea {
      width: 100%;
      height: 40px;
      margin-bottom: 24px;
    }

    &__input-group {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }
    &__submit {
      width: 30rem;
    }
  }
}

@include desktop {
  .comments {
    &__form-container {
      display: flex;
      flex-direction: column;
      padding: 0 160px;
      box-sizing: border-box;
      width: 100%;
      padding: 0px 420px 36px 160px;
    }
  }
}
