@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.maincontainer {
  @include desktop {
    display: flex;
    border-right: 1px solid $color-mercury;
  }
}

.maincontainer__two {
  border-left: 1px solid $color-mercury;

}

// // @include desktop {
// //   .maincontainer {
// //      display: flex;

// //     }
// //   }
