/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// html {
//   font-family: 'avenir-demi';
// }

// _global folder above to move